<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net461" />
  <package id="DirectShowLib" version="1.0.0" targetFramework="net461" />
  <package id="DotNetZip.Reduced" version="1.9.1.8" targetFramework="net461" />
  <package id="DotSpatial.Data" version="1.9" targetFramework="net461" />
  <package id="DotSpatial.Mono" version="1.5.1" targetFramework="net461" />
  <package id="DotSpatial.Projections" version="1.9" targetFramework="net461" />
  <package id="DotSpatial.Serialization" version="1.0.0.0" targetFramework="net461" />
  <package id="DotSpatial.Topology" version="1.0.0.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net461" />
  <package id="FirebirdSql.Data.FirebirdClient" version="7.1.1" targetFramework="net461" />
  <package id="GeoAPI" version="1.6.0" targetFramework="net461" />
  <package id="GMap.Net" version="1.0.1" targetFramework="net461" />
  <package id="GMap.NET.Core" version="2.0.0" targetFramework="net461" />
  <package id="GMap.NET.Windows" version="1.9.9.9" targetFramework="net461" />
  <package id="GMap.NET.WindowsForms" version="1.7.5" targetFramework="net461" />
  <package id="GMap.NET.WinForms" version="2.0.0" targetFramework="net461" />
  <package id="GMap.NET.WinPresentation" version="2.0.0" targetFramework="net461" />
  <package id="Ionic.Zip" version="1.9.1.8" targetFramework="net461" />
  <package id="Lemon" version="1.4.0.0" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore" version="2.2.3" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Abstractions" version="2.2.3" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Analyzers" version="2.2.3" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="2.2.3" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Memory" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="Proj.NET" version="1.2" targetFramework="net461" />
  <package id="ProjNET" version="2.0.0" targetFramework="net461" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net461" />
  <package id="RestSharp" version="106.10.1" targetFramework="net461" />
  <package id="SharpKml" version="1.1.0.0" targetFramework="net461" />
  <package id="SharpKml.Core" version="2.1.0" targetFramework="net461" />
  <package id="SharpKml.Kmz" version="2.0.2.2" targetFramework="net461" />
  <package id="sqlite-net-pcl" version="1.6.292" targetFramework="net461" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.13" targetFramework="net461" />
  <package id="SQLitePCLRaw.core" version="1.1.13" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.13" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.13" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.13" targetFramework="net461" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.13" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.112.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.112.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.112.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.0" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net461" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net461" />
  <package id="System.IO.Ports" version="4.4.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.3.2" targetFramework="net461" />
  <package id="System.Reactive.Core" version="4.3.2" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>